version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: expense_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: expense_tracker
    volumes:
      - db_data:/var/lib/mysql
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
    ports:
      - "3307:3306"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.back
    container_name: expense_backend
    restart: always
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=expense_tracker
    ports:
      - "5001:5000"
    volumes:
      - .:/app

volumes:
  db_data:
