apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init
data:
  db.sql: |
    CREATE DATABASE IF NOT EXISTS expense_tracker;
    USE expense_tracker;

    CREATE TABLE IF NOT EXISTS users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        salary DECIMAL(10,2),
        username VARCHAR(100) UNIQUE,
        password VARCHAR(255)
    );

    CREATE TABLE IF NOT EXISTS expenses (
        id INT AUTO_INCREMENT PRIMARY KEY,
        user_id INT,
        name VARCHAR(255),
        amount DECIMAL(10,2),
        FOREIGN KEY (user_id) REFERENCES users(id)
    );
